* {

}

.project-logo {
  width: 250px;
}

.content {
  background-color: gra;
}

body {
  background: rgb(201,9,133);
  background: linear-gradient(95deg, rgba(201,9,133,1) 0%, rgba(170,6,161,1) 30%, rgba(18,157,171,1) 100%);
}
